.header {
    text-align: center;
    border-bottom: 3px solid rgb(233, 227, 227);
    height: 100px;

  }
  
  .header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-size: 40px;
  }
  
  .confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    max-width: 1230px;
  }

  .confirm-form__heading{
    margin-bottom: 40px;
    

  }
  
  .form {
    margin: 0 auto;
    width: 70%;
  }
  
  .confirm-table {
    border: 1px solid #eee9e9;
    margin-bottom: 30px;
  }
  
  .confirm-table__inner {
    width: 100%;
  }
  
  .confirm-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #e7e2e2;
    background-color: #dacbcb;
    font-weight: bold;
  }
  
  .confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
  }
  
  .confirm-table__row {
    border-bottom-width: 0;
  }
  
  .confirm-table__header{

    width: 200px;
  }


  .confirm-table__text

  .form__button {
    margin-top: 30px;
    text-align: center;
  }
  
  .form__button-submit {
    margin-right: 30px;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
  }