.header {
    background: white;
    text-align: center;
  }

  .header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-size: 40px;
  }
  
  .contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    text-align: center;
    
    max-width: 1230px;
  }



  
  .form__group{
display: flex;

  }
