.header {
    background: white;
    text-align: center;
  }

  .header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-size: 40px;
  }
  


  .contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    text-align:center ;
    max-width: 1230px;
    
  }

  .contact-form__heading{
    margin-bottom: 40px;
  text-align: center;

  }
   

  
  

  .form{
    margin: 0 auto;
  max-width: 80%;
  text-align: center;
    
  }


  .form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    

  }
  

  
  
  .form__input--text input{
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;


  }
  .form__input--textarea textarea {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 3px;
    

 }