.header {
    background: white;
    text-align: center;
  }

  .header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    font-size: 40px;
  }

.header__logo{

    padding: 10px 5px;
    width: 30px;
    font-size: 10px;


}